# Laravel / PHP
*.log
*.cache
*.tmp
*.local
.DS_Store
Thumbs.db
.env
.phpactor.json
.phpunit.result.cache
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/public/fonts-manifest.dev.json
/storage/*.key
/storage/debugbar
/storage/lint
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/paid
/storage/pail
/storage/temp
/.idea
/.vscode
/.nova
/.phpunit.cache
/.codex
/.cursor/
/.zed
/auth.json
/_ide_helper.php
Homestead.json
Homestead.yaml
/forge
/.env.backup
/.env.production
/uploads